* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --mainColor: #68ffc069;
    --mainColorLight: #000000;
    --secondaryColor: #1d4434bb;
    --textColor: #000000;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-menu a:hover {
    color: var(--secondaryColor);
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--textColor);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 98%; /*No me estoy dando cuenta por qué se desborda en 100*/
    z-index: 999;
}
