* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --mainColor: #68ffc069;
    --mainColorLight: #ceffeb;
    --secondaryColor: #1d4434bb;
    --highlightColor: #115e4d;
    --textColor: #000000;
    --linkColor: #0066ff;
}

.Logo {
    text-decoration: none;
    color: var(--highlightColor);
    font-size: larger;
}

.Option,
.ActiveOption {
    margin: 0 2rem;
    color: var(--linkColor);
    text-decoration: none;
    font-size: 1.2rem;
}

.Option:hover {
    color: var(--secondaryColor);
}

.ActiveOption {
    color: var(--highlightColor);
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--mainColor);
    color: var(--textColor);
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
